* {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 2.5rem;
  width: auto;
  margin: 0 auto;
  padding: 2.5rem;
}

.nav i {
  display: none;
  z-index: 10;
  cursor: pointer;
  font-size: 1.5rem;
  margin: 0.6rem 0 0 0;
}

.menuNav {
  gap: 3rem;
  align-items: center;
}

.menuNav.showMenu {
  width: 100%;
}

.nav h1 {
  font-size: 3rem;
  align-self: center;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 3rem;
  font-size: 1.4rem;
}

.nav a {
  text-decoration: none;
  color: #037cb0;
}

.home {
  padding: 2%;
  height: auto;
}

.home h2 {
  font-size: 2.5rem;
  padding: 1.5rem;
  margin: 0 5rem;
  width: fit-content;
}

.home p {
  font-size: 1.2rem;
  padding: 0 1.5rem;
}

.parent-container {
  display: flex;
  flex-direction: row;
}

.parent-container h2 {
  height: 3rem;
  font-size: 2rem;
  margin: 2rem auto;
}

.contianer {
  width: 50%;
  height: auto;
  border-radius: 25px;
  margin: 3% auto;
}

.res {
  display: flex;
  flex-direction: row-reverse;
  width: auto;
  height: 40px;
  font-size: 1.5rem;
  align-items: center;
  background-color: #868686;
  color: #fff;
  padding: 0.5rem 2rem;
}

.row {
  display: flex;
  flex-direction: row;
  width: auto;
}

button {
  width: 25%;
  height: 60px;
  font-size: 1.2rem;
  border: 1px solid #808080;
  border-radius: 0;
}

.zero {
  width: 50%;
}

.ops {
  background-color: orange;
}

.quote {
  width: 65%;
  margin: 0 auto;
  padding: 6rem 3rem;
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .nav {
    padding: 0.6rem 2.5rem;
  }

  .nav i {
    display: flex;
  }

  .nav h1 {
    font-size: 1.8rem;
  }

  .menuNav {
    overflow-y: scroll;
    list-style: none;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 0;
    gap: 0.8rem;
    background: darkcyan;
    overflow: hidden;
    max-width: 300px;
    z-index: 9;
  }

  .menuNav li:first-child {
    margin-top: 7rem;
  }

  .nav a {
    color: #fff;
  }

  .home h2 {
    font-size: 1.6rem;
    padding: 0.5rem 1.5rem;
    margin: 0 1rem;
  }

  .home p {
    font-size: 1rem;
  }

  .parent-container {
    flex-direction: column;
  }

  .contianer {
    width: 90%;
  }

  .quote {
    font-size: 1.25rem;
    line-height: 1.8rem;
  }
}
